<header>
  <div class="header-inner">
    <div id="box-title">
      <img id="logo" src="logo.ico" alt="logo">
      <h1 id="main-title">
        Sullivan <span class="brand-sub">Inmobiliaria</span>
      </h1>
    </div>

    <nav>
      <div id="nav-box">
        <a class="link-nav" href="#">Inicio</a>
        <a class="link-nav" href="#">Propiedades</a>
        <a class="link-nav" href="#">Servicios</a>
        <a class="link-nav" href="#">Nosotros</a>
        <a class="link-nav" href="#">Contacto</a>
      </div>
    </nav>

    <div id="image-box">
      <button class="cta">Consulta Gratuita</button>
    </div>
  </div>
</header>