<header>
  <div class="header-inner">
    <div id="box-title">
      <img id="logo" src="logo.ico" alt="logo">
      <h1 id="main-title">
        Sullivan <span class="brand-sub">Inmobiliaria</span>
      </h1>
    </div>

    <nav>
      <div id=" nav-box">
        <a class="link-nav" routerLink="">Inicio</a>
        <a class="link-nav" routerLink="properties">Propiedades</a>
        <a class="link-nav" routerLink="services">Servicios</a>
        <a class="link-nav" routerLink="about-us">Nosotros</a>
        <a class="link-nav" routerLink="contact">Contacto</a>
    </div>
    </nav>

    <div id="image-box">
      @if (isLogged()) {
        <button type="button" class="cta" (click)="logOut()">Log out</button>
      }@else {
        <button type="button" class="cta" routerLink="log-in">Log in</button>
        <button type="button" class="cta" routerLink="register">Register</button>
      }

    </div>
  </div>
</header>