<div class="address-grid" [formGroup]="form">
  <div class="form-group full-width">
    <label>Calle Principal <span class="required">*</span></label>
    <input type="text" formControlName="mainStreet" placeholder="Ej: Av. Santa Fe">
    @if (form.get('mainStreet')?.touched && form.get('mainStreet')?.invalid) {
      <small class="error-msg">Nombre de calle demasiado corto</small>
    }
  </div>

  <div class="form-row">
    <div class="form-group flex-2">
      <label>Calle Secundaria <span class="required">*</span></label>
      <input type="text" formControlName="secondaryStreet" placeholder="Ej: Entre Rios">
    </div>

    <div class="form-group flex-1">
      <label>Número <span class="required">*</span></label>
      <input type="number" formControlName="numbering" placeholder="1234">
    </div>
  </div>
</div>