        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
            background-color: #f5f5f5;
            color: #333;
        }

        .layout {
            display: grid;
            grid-template-columns: 250px 1fr;
            max-height: 100%;
        }


        /* MAIN CONTENT */
        .main-content {
            background-color: #f5f5f5;
        }