<div>
    @if (addZone) {

    <div class="form-grid" [formGroup]="group">

        <div class="form-group">
            <label>Zona <span class="required">*</span></label>
            <input type="text" formControlName="zone" placeholder="Ej: Centro">
        </div>
        <div class="form-group">
            <label>Ciudad <span class="required">*</span></label>
            <input type="text" formControlName="city" placeholder="Ej: Buenos Aires">
        </div>

        <div class="form-group">
            <label>Provincia <span class="required">*</span></label>
            <input type="text" formControlName="province" placeholder="Ej: Buenos Aires">
        </div>

        <div class="form-group">
            <label>País <span class="required">*</span></label>
            <input type="text" formControlName="country" placeholder="Ej: Argentina">
        </div>

    </div>
    } @else {
    <div class="form-group" [formGroup]="group">
        <label> Ubicación <span class="required">*</span></label>

        <select formControlName="zone">
            <option value="">Seleccionar ubicación...</option>
            @for (z of zoneArray; track $index) {
            <option [ngValue]="z.zoneName">
                {{z.zoneName}},
                {{z.cityDTO.cityName}},
                {{z.cityDTO.provinceDTO.provinceName}},
                {{z.cityDTO.provinceDTO.countryDTO.countryName}}
            </option>
            }

        </select>

    </div>
    }

    <div class="form-group">
        <button type="button" class="toggle-button" (click)="addZone = !addZone">
            {{ addZone ? 'Elegir zona existente' : 'Agregar nueva zona' }}
        </button>
    </div>
</div>